target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

*.launch
*.sublime-workspace
.bsp
.c9/
.classpath
.metals/
**/metals.sbt
.project
.settings/
.vscode
.gitlab-ci-local
.idea_modules
.env
.nessy
.codegraph

### IntelliJ IDEA ###
.idea
/.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Scala ###
.bsp/

### ui (Node / Parcel) ###
node_modules/
ui/dist/
ui/linked/
ui/linked-opt/
.parcel-cache/
ui/vendor/*.map
/ui/package-lock.json
